## Simply Turn MAIN Dataset into JSON.

In [1]:
# Dependencies.
import pandas as pd

In [6]:
# Data.
df = pd.read_csv('ds15_happ_temp_cw_gg_pop_pm.csv', index_col=['Country', 'Year'])
df.head()

                  Life Ladder  Temperature  Clean Water  \
Country     Year
Afghanistan 2010        4.758       14.629     48.28708
            2011        3.832       16.487     50.82785
            2012        3.783       14.373     53.40352
            2013        3.572       16.156     56.01404
            2014        3.131       15.647     58.65937

                  Greenhouse Gas Emissions  Population     PM2.5
Country     Year
Afghanistan 2010                   44910.0  29185511.0  52.49585
            2011                   58650.0  30117411.0  57.09972
            2012                   66750.0  31161378.0  55.46611
            2013                   74800.0  32269592.0  59.62277
            2014                   84620.0  33370804.0  62.72192

In [7]:
df.to_json('test.json')