## Connect to SQL Database

We use SQLAlchemy to connect to the PostgreSQL database (accessed with pgAdmin 4), and pull out the main database.

In [1]:
# Python SQL toolkit and Object Relational Mapper
import pandas as pd
from sqlalchemy import create_engine
from sqlalchemy import text
from config import pg_pass

In [2]:
# Connect to the PostgreSQL - pgAdmin database.
engine = create_engine(f"postgresql+psycopg2://postgres:{pg_pass}@localhost:5434/final_project")

In [3]:
# Get a list of the tables in the SQL database.
tables = []

with engine.connect() as connection:
    result = connection.execute(text("SELECT table_name FROM information_schema.tables WHERE table_type = 'BASE TABLE' AND table_schema = 'public'"))
    for row in result:
        tables.append(row[0])

tables

['cy_clean_water',
 'cy_co2_emissions',
 'cy_greenhouse',
 'cy_life_ladder',
 'cy_pm25',
 'cy_population',
 'cy_temperature',
 'country_clean_water',
 'country_co2_emissions',
 'country_pm25',
 'country_population',
 'country_temperature',
 'country_greenhouse',
 'country_life_ladder',
 'main_ds']

In [4]:
# Get data from the 'main_ds' dataset.
main_ds = []

with engine.connect() as connection:
    # Get column names first.
    cols = connection.execute(text("SELECT column_name FROM information_schema.columns WHERE table_name = 'main_ds'"))
    # Add columns to main_ds data.
    columns = [row[0] for row in cols]
    
    # Get dataset.
    result = connection.execute(text("SELECT * FROM main_ds"))
    # Add each row of data to the main_ds list.
    for row in result:
        main_ds.append(row)

In [5]:
# Create DF from dataset.
df = pd.DataFrame(main_ds, columns=columns)
df.head()

,country,year,life_ladder,temperature,clean_water,greenhouse,population,pm25,co2_emissions
0,Afghanistan,2010,4.758,14.629,48.28708,44910.0,29185511.0,52.49585,8397779.0
1,Afghanistan,2011,3.832,16.487,50.82785,58650.0,30117411.0,57.09972,12105788.0
2,Afghanistan,2012,3.783,14.373,53.40352,66750.0,31161378.0,55.46611,10218514.0
3,Afghanistan,2013,3.572,16.156,56.01404,74800.0,32269592.0,59.62277,8440766.0
4,Afghanistan,2014,3.131,15.647,58.65937,84620.0,33370804.0,62.72192,7774340.0