In [1]:
import pandas as pd

In [27]:
df2 = pd.read_csv('Resources/greenhouse_gasses.csv')
greenhouse_gasses = df2.melt(id_vars=["Country Name"], 
        var_name="Date", 
        value_name="Value")
greenhouse_gasses.sort_values(by='Country Name', ascending=True)

     Country Name  Date    Value
1598  Afghanistan  2016  95370.0
1332  Afghanistan  2015  93730.0
2     Afghanistan  2010  44910.0
800   Afghanistan  2013  74800.0
2662  Afghanistan  2020      NaN
...           ...   ...      ...
1329     Zimbabwe  2014  29350.0
1595     Zimbabwe  2015  31280.0
2393     Zimbabwe  2018  31380.0
1861     Zimbabwe  2016  29120.0
2925     Zimbabwe  2020      NaN

[2926 rows x 3 columns]

In [30]:
greenhouse_gasses.to_csv('resources/greenhouse_gasses_clean.csv', index=False)