## Simple CSV to JSON Data Format Conversion

In [1]:
import pandas as pd

### ENTER FILENAME AND INDEX:

In [2]:
FILENAME = '2010_country_temps' + '.csv'
INDEX = 'country'

In [3]:
# Create DF.
df = pd.read_csv(FILENAME, index_col=INDEX)
df.head()

             temperature
country
Afghanistan       15.647
Albania           13.731
Argentina         15.631
Armenia            9.722
Australia         22.130

In [4]:
# Create JSON.
df.to_json(FILENAME[:-4] + '.json')