In [1]:
import pandas as pd

In [2]:
co2_df = pd.read_csv('resources/co2_emission.csv')
co2_df.head()

        Entity Code  Year  Annual CO₂ emissions (tonnes )
0  Afghanistan  AFG  1949                         14656.0
1  Afghanistan  AFG  1950                         84272.0
2  Afghanistan  AFG  1951                         91600.0
3  Afghanistan  AFG  1952                         91600.0
4  Afghanistan  AFG  1953                        106256.0

In [3]:
# only show data from 2008 and onwards
co2_df = co2_df[co2_df['Year'] >= 2008]
co2_df.head(20)

          Entity Code  Year  Annual CO₂ emissions (tonnes )
59   Afghanistan  AFG  2008                    4.198330e+06
60   Afghanistan  AFG  2009                    6.760313e+06
61   Afghanistan  AFG  2010                    8.452224e+06
62   Afghanistan  AFG  2011                    1.222602e+07
63   Afghanistan  AFG  2012                    1.074206e+07
64   Afghanistan  AFG  2013                    1.000041e+07
65   Afghanistan  AFG  2014                    9.789186e+06
66   Afghanistan  AFG  2015                    1.010743e+07
67   Afghanistan  AFG  2016                    1.225791e+07
68   Afghanistan  AFG  2017                    1.301474e+07
326       Africa  NaN  2008                    1.178143e+09
327       Africa  NaN  2009                    1.188276e+09
328       Africa  NaN  2010                    1.193784e+09
329       Africa  NaN  2011                    1.198373e+09
330       Africa  NaN  2012                    1.233842e+09
331       Africa  NaN  2013                    1.250644e+09
332       Africa  NaN  2014                    1.290489e+09
333       Africa  NaN  2015                    1.289003e+09
334       Africa  NaN  2016                    1.310656e+09
335       Africa  NaN  2017                    1.331740e+09

In [4]:
happiness_df = pd.read_csv('resources/world-happiness-report.csv')
happiness_df.head(10)

,Country name,year,Life Ladder,Log GDP per capita,Social support,Healthy life expectancy at birth,Freedom to make life choices,Generosity,Perceptions of corruption,Positive affect,Negative affect
0,Afghanistan,2008,3.724,7.370,0.451,50.80,0.718,0.168,0.882,0.518,0.258
1,Afghanistan,2009,4.402,7.540,0.552,51.20,0.679,0.190,0.850,0.584,0.237
2,Afghanistan,2010,4.758,7.647,0.539,51.60,0.600,0.121,0.707,0.618,0.275
3,Afghanistan,2011,3.832,7.620,0.521,51.92,0.496,0.162,0.731,0.611,0.267
4,Afghanistan,2012,3.783,7.705,0.521,52.24,0.531,0.236,0.776,0.710,0.268
5,Afghanistan,2013,3.572,7.725,0.484,52.56,0.578,0.061,0.823,0.621,0.273
6,Afghanistan,2014,3.131,7.718,0.526,52.88,0.509,0.104,0.871,0.532,0.375
7,Afghanistan,2015,3.983,7.702,0.529,53.20,0.389,0.080,0.881,0.554,0.339
8,Afghanistan,2016,4.220,7.697,0.559,53.00,0.523,0.042,0.793,0.565,0.348
9,Afghanistan,2017,2.662,7.697,0.491,52.80,0.427,-0.121,0.954,0.496,0.371

In [5]:
# Matching both dataframes' column names
happiness_df = happiness_df.rename(columns={"year": "Year", "Country name": "Country"})
co2_df = co2_df.rename(columns={"Entity": "Country"})

In [6]:
happiness_df.head(20)

,Country,Year,Life Ladder,Log GDP per capita,Social support,Healthy life expectancy at birth,Freedom to make life choices,Generosity,Perceptions of corruption,Positive affect,Negative affect
0,Afghanistan,2008,3.724,7.370,0.451,50.80,0.718,0.168,0.882,0.518,0.258
1,Afghanistan,2009,4.402,7.540,0.552,51.20,0.679,0.190,0.850,0.584,0.237
2,Afghanistan,2010,4.758,7.647,0.539,51.60,0.600,0.121,0.707,0.618,0.275
3,Afghanistan,2011,3.832,7.620,0.521,51.92,0.496,0.162,0.731,0.611,0.267
4,Afghanistan,2012,3.783,7.705,0.521,52.24,0.531,0.236,0.776,0.710,0.268
5,Afghanistan,2013,3.572,7.725,0.484,52.56,0.578,0.061,0.823,0.621,0.273
6,Afghanistan,2014,3.131,7.718,0.526,52.88,0.509,0.104,0.871,0.532,0.375
7,Afghanistan,2015,3.983,7.702,0.529,53.20,0.389,0.080,0.881,0.554,0.339
8,Afghanistan,2016,4.220,7.697,0.559,53.00,0.523,0.042,0.793,0.565,0.348
9,Afghanistan,2017,2.662,7.697,0.491,52.80,0.427,-0.121,0.954,0.496,0.371
10,Afghanistan,2018,2.694,7.692,0.508,52.60,0.374,-0.094,0.928,0.424,0.405
11,Afghanistan,2019,2.375,7.697,0.420,52.40,0.394,-0.108,0.924,0.351,0.502
12,Albania,2007,4.634,9.142,0.821,65.80,0.529,-0.009,0.875,0.553,0.246
13,Albania,2009,5.485,9.262,0.833,66.20,0.525,-0.158,0.864,0.640,0.279
14,Albania,2010,5.269,9.303,0.733,66.40,0.569,-0.172,0.726,0.648,0.300
15,Albania,2011,5.867,9.331,0.759,66.68,0.487,-0.205,0.877,0.628,0.257
16,Albania,2012,5.510,9.347,0.785,66.96,0.602,-0.169,0.848,0.607,0.271
17,Albania,2013,4.551,9.359,0.759,67.24,0.632,-0.127,0.863,0.634,0.338
18,Albania,2014,4.814,9.378,0.626,67.52,0.735,-0.025,0.883,0.685,0.335
19,Albania,2015,4.607,9.403,0.639,67.80,0.704,-0.081,0.885,0.688,0.350

In [7]:
# merge two df
df = pd.merge(co2_df, happiness_df,  how='left', left_on=['Country','Year'], right_on = ['Country','Year'])

In [8]:
df.head(20)

,Country,Code,Year,Annual CO₂ emissions (tonnes ),Life Ladder,Log GDP per capita,Social support,Healthy life expectancy at birth,Freedom to make life choices,Generosity,Perceptions of corruption,Positive affect,Negative affect
0,Afghanistan,AFG,2008,4.198330e+06,3.724,7.370,0.451,50.80,0.718,0.168,0.882,0.518,0.258
1,Afghanistan,AFG,2009,6.760313e+06,4.402,7.540,0.552,51.20,0.679,0.190,0.850,0.584,0.237
2,Afghanistan,AFG,2010,8.452224e+06,4.758,7.647,0.539,51.60,0.600,0.121,0.707,0.618,0.275
3,Afghanistan,AFG,2011,1.222602e+07,3.832,7.620,0.521,51.92,0.496,0.162,0.731,0.611,0.267
4,Afghanistan,AFG,2012,1.074206e+07,3.783,7.705,0.521,52.24,0.531,0.236,0.776,0.710,0.268
5,Afghanistan,AFG,2013,1.000041e+07,3.572,7.725,0.484,52.56,0.578,0.061,0.823,0.621,0.273
6,Afghanistan,AFG,2014,9.789186e+06,3.131,7.718,0.526,52.88,0.509,0.104,0.871,0.532,0.375
7,Afghanistan,AFG,2015,1.010743e+07,3.983,7.702,0.529,53.20,0.389,0.080,0.881,0.554,0.339
8,Afghanistan,AFG,2016,1.225791e+07,4.220,7.697,0.559,53.00,0.523,0.042,0.793,0.565,0.348
9,Afghanistan,AFG,2017,1.301474e+07,2.662,7.697,0.491,52.80,0.427,-0.121,0.954,0.496,0.371
10,Africa,NaN,2008,1.178143e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,Africa,NaN,2009,1.188276e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,Africa,NaN,2010,1.193784e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,Africa,NaN,2011,1.198373e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,Africa,NaN,2012,1.233842e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,Africa,NaN,2013,1.250644e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,Africa,NaN,2014,1.290489e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,Africa,NaN,2015,1.289003e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,Africa,NaN,2016,1.310656e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,Africa,NaN,2017,1.331740e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
# check number of unique countries
len(co2_df['Country'].unique())

229

In [10]:
# check number of unique countries
len(happiness_df['Country'].unique())

166

In [11]:
df.isnull().sum()

Country                                0
Code                                  90
Year                                   0
Annual CO₂ emissions (tonnes )         0
Life Ladder                          987
Log GDP per capita                   993
Social support                       998
Healthy life expectancy at birth     987
Freedom to make life choices        1009
Generosity                          1012
Perceptions of corruption           1062
Positive affect                     1002
Negative affect                      997
dtype: int64

In [12]:
# since a lot of country data are missing, countries that do not have happiness data are dropped
df.dropna(inplace=True)

In [13]:
df.isnull().sum()

Country                                0
Code                                  90
Year                                   0
Annual CO₂ emissions (tonnes )         0
Life Ladder                          987
Log GDP per capita                   993
Social support                       998
Healthy life expectancy at birth     987
Freedom to make life choices        1009
Generosity                          1012
Perceptions of corruption           1062
Positive affect                     1002
Negative affect                      997
dtype: int64

In [14]:
# renaming columns for ease of use
df = df.rename(columns={"Annual CO₂ emissions (tonnes )": "Annual_CO2_emission_tonnes",
                        "Life Ladder": "Life_ladder",
                        "Log GDP per capita": "Log_GDP_per_capita",
                        "Social support": "Social_support",
                        "Healthy life expectancy at birth": "Life_expectancy_at_birth",
                        "Freedom to make life choices": "Freedom_to_make_life_choices",
                        "Perceptions of corruption": "Perceptions_of_corruption",
                        "Positive affect": "Positive_affect",
                        "Negative affect": "Negative_affect"
                       })

In [27]:
# check merged and modified df
df.head(10)

,Country,Code,Year,Annual_CO2_emission_tonnes,Life_ladder,Log_GDP_per_capita,Social_support,Life_expectancy_at_birth,Freedom_to_make_life_choices,Generosity,Perceptions_of_corruption,Positive_affect,Negative_affect
10,Africa,NaN,2008,1.178143e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,Africa,NaN,2009,1.188276e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,Africa,NaN,2010,1.193784e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,Africa,NaN,2011,1.198373e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,Africa,NaN,2012,1.233842e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2212,Wallis and Futuna Islands,NaN,2013,2.198400e+04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2213,Wallis and Futuna Islands,NaN,2014,2.198400e+04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2214,Wallis and Futuna Islands,NaN,2015,2.399058e+04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2215,Wallis and Futuna Islands,NaN,2016,2.426549e+04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2216,Wallis and Futuna Islands,NaN,2017,2.590908e+04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [16]:
# # export df to csv file
df.to_csv('resources/co2_happiness_modified.csv')

Disclaimer - Please note that no copywrite infringement is intended, we do not own nor claim to own any of the datasets used in this notebook.

The creator of the dataset in co2_df is Yoann Boyere, the title of the material is CO2_GHG_emissions-data, it is licensed by Attribution 4.0 International (CC BY 4.0), and is collected from "https://www.kaggle.com/yoannboyere/co2-ghg-emissionsdata".

Changes that were made to the dataset: some column names are renamed, some rows are dropped to match with another dataset.
The original dataset is in the resources folder.

As detailed in the License (https://creativecommons.org/licenses/by/4.0/legalcode), we thank and credit Yoann Boyere and Attribution 4.0 International (CC BY 4.0).

###### Applicable Terms of Service Detailed Below

Share — copy and redistribute the material in any medium or format

Adapt — remix, transform, and build upon the material for any purpose, even commercially.

Attribution — You must give appropriate credit, provide a link to the license, and indicate if changes were made. You may do so in any reasonable manner, but not in any way that suggests the licensor endorses you or your use.