In [1]:
import pandas as pd

In [32]:
df2 = pd.read_csv('Resources/greenhouse_gasses.csv')
greenhouse_gasses = df2.melt(id_vars=["Country Name"], 
        var_name="Date", 
        value_name="Value")
gg_final = greenhouse_gasses.sort_values(by=['Country Name', 'Date'], ascending=True)
gg_final

     Country Name  Date    Value
2     Afghanistan  2010  44910.0
268   Afghanistan  2011  58650.0
534   Afghanistan  2012  66750.0
800   Afghanistan  2013  74800.0
1066  Afghanistan  2014  84620.0
...           ...   ...      ...
1861     Zimbabwe  2016  29120.0
2127     Zimbabwe  2017  28800.0
2393     Zimbabwe  2018  31380.0
2659     Zimbabwe  2019      NaN
2925     Zimbabwe  2020      NaN

[2926 rows x 3 columns]

In [33]:
gg_final.to_csv('resources/greenhouse_gasses_clean.csv', index=False)